
@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        .fundo {
            background-image: url(/img/principal.jpg);
            margin: -4px;
            padding: 63px;
        }
    </style>
</head>
<body>
    <div class="container fundo" style="margin-top:-48px">
    </div>
    <div class="container-fluid bg-grey">
        <div class="row texto">
            <div class="col-xs-12">
                <h1 style="color:black">Sobre Meu Medico</h1>
                <p>
                    Devo cuidar da minha saúde para “viver melhor”
                    Antes de começar precisamos concordar em “o que é viver melhor?”. Eu vou falar de muita coisa aqui, menos de dinheiro, religião, política ou futebol, se não já viu. Vamos conversar aqui do que é um entendimento comum, mesmo várias pessoas tendo várias opiniões.
                    Bom, começando, esta pequena combinação de duas simples palavras “viver melhor” pode trazer vários significados diferentes. Um para cada pessoa ou vários para uma mesma pessoa.
                    Vou tentar colocar alguns aqui, vai ser legal se você já for identificando o que concorda ou não concorda para discutirmos depois.                  
                </p>
                <p>
                    Solução integrada de comunicação e gestão que une saúde e tecnologia
                    O Meu Médico é uma Plataforma personalizada para as instituições de saúde que desejam tornar a comunicação entre seus colaboradores e pacientes mais adequada, ágil e efetiva.
                    Com a tecnologia Meu Médico, sua Instituição passa a ter um aplicativo próprio que disponibiliza dados para otimização da gestão de clínicas, hospitais e consultórios, através de diversas funcionalidades, visando a redução de custos e um atendimento mais qualificado. A plataforma Meu Médico foi criada por médicos e profissionais de saúde que compreendem as necessidades de ter a tecnologia como uma aliada otimizando o atendimento ao paciente, e ao mesmo tempo oferecendo praticidade e segurança.
                </p>
            </div>           
        </div>
    </div>
</body>
</html>