
<html lang="pt-br">
<head>
    <style>
        .fundo {
            background-image: url(/img/principal.jpg);
            margin: -4px;
            padding: 63px;
        }
    </style>
</head>
<body>
    <div class="container fundo" style="margin-top:-48px">
    </div>
    <form class="form-inline" style="margin-top:24px">
        <fom class="input-group">
            <input type="text" class="form-control" placeholder="Nome do Paciente" required />
            <br />
            <br />
            <input type="email" class="form-control" placeholder="Email" required />
            <br />
            <br />
            <input type="tel" class="form-control" placeholder="Telefone" required />
            <br />
            <br />
        </fom>        
                   
    </form>
    <div class="form-inline">
        <input type="text" class="form-control" style="padding-bottom:60px;padding-top:20px" placeholder="Comentario" required />
        <button type="button" class="btn btn-default">Enviar</button>
    </div>
</body>
</html>