<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        .fundo {
            background-image: url(/img/principal.jpg);
            margin: -4px;
            padding: 63px;
        }
    </style>
</head>

<body>
    <div class="container fundo" style="margin-top:-48px">

    </div>
    <div class="container-fluid by-grey">
        <div class="container-fluid bg-grey">
            <div class="row texto">
                <div class="col-xs-4">
                    <h1 style="color:black">Especialidades</h1>
                    <lu>- Acupuntura</lu>
                    <br />
                    <lu>- Alergia e Imunologia</lu>
                    <br />
                    <lu>- Cirurgia Cardiovascular</lu>
                    <br />
                    <lu>- Cirurgia Geral</lu>
                    <br />
                    <lu>- Cirurgia Pediátrica</lu>
                    <br />
                    <lu>- Cirurgia Plástica</lu>
                    <br />
                    <lu>- Dermatologia</lu>
                    <br />
                    <lu>- Geriatria</lu>
                    <br />
                    <lu>- Hematologia e Hemoterapia</lu>
                    <br />
                    <lu>- Ginecologia e Obstetrícia</lu>
                    <br />
                    <lu>- Pediatria</lu>
                    <br />
                    <lu>- Psiquiatria</lu>
                    <br />
                    <lu>- Urologia</lu>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


