<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="~/Scripts/teste.js"></script>

    <style>
        .fundo {
            background-image: url(../../img/principal.jpg);
            margin: -4px;
            padding: 46px;
        }
    </style>
</head>
<body>
    <div class="text-center fundo" style="margin-top:-48px">
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-btn">
                    <input type="text" class="form-control" size="50" placeholder="Procura" required>
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container col-xs-12">
        <h1 style="color:black">Meu Medico !</h1>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row texto" >
            <div class="col-xs-4">
                <b style="color:black">Qualidades</b>
                <p>
                    Solução integrada de comunicação e gestão que une saúde e tecnologia
                    O Meu Médico é uma Plataforma personalizada para as instituições de saúde que desejam tornar a comunicação entre seus colaboradores e pacientes mais adequada, ágil e efetiva.
                    Com a tecnologia Meu Médico, sua Instituição passa a ter um aplicativo próprio que disponibiliza dados para otimização da gestão de clínicas, hospitais e consultórios, através de diversas funcionalidades, visando a redução de custos e um atendimento mais qualificado.
                </p>
            </div>
            <div class="col-lg-offset-6">
                    <img src="~/img/index.png" class="img-rounded" width="520" height="400" />
                    </div>
        </div>
    </div>
  
</body>
<div class="container-fluid">
    <a href="~/home/Especialidade">
        <img src="~/img/consulatation.png" style="background-color:transparent" width="175" height="175" />
    </a>
    <a href="~/home/Consulta">
        <img src="~/img/a-12-512.png" style="background-color:transparent" width="175" height="175" />
    </a> 
        </div>
</html>